In [2]:
#### Dictionary
people = {
    "first":["Lee","Gi","wpm"],
    "last":["Alex","Adam","Ab"],
    "email":["AlexLee@gmail.com","GiAdam@gmail.com","wpmAb@gmail.com"]
}

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [14]:
df.loc[0:2,'last']

0    Alex
1    Adam
2      Ab
Name: last, dtype: object

In [22]:
# Index: 0,1,2 ... n
df

                  first  last
email
AlexLee@gmail.com   Lee  Alex
GiAdam@gmail.com     Gi  Adam
wpmAb@gmail.com     wpm    Ab

In [18]:
df['email']

0    AlexLee@gmail.com
1     GiAdam@gmail.com
2      wpmAb@gmail.com
Name: email, dtype: object

In [28]:
df.set_index('email', inplace=True) # inplace ture sets df = df.set_index

KeyError: "None of ['email'] are in the columns"

In [31]:
df

                  first  last
email
AlexLee@gmail.com   Lee  Alex
GiAdam@gmail.com     Gi  Adam
wpmAb@gmail.com     wpm    Ab

In [32]:
df.index

Index(['AlexLee@gmail.com', 'GiAdam@gmail.com', 'wpmAb@gmail.com'], dtype='object', name='email')

In [36]:
df.loc['AlexLee@gmail.com'] # since the index is email, its now different

first     Lee
last     Alex
Name: AlexLee@gmail.com, dtype: object

In [39]:
df.reset_index(inplace=True) # Reset Index
df

   index              email first  last
0      0  AlexLee@gmail.com   Lee  Alex
1      1   GiAdam@gmail.com    Gi  Adam
2      2    wpmAb@gmail.com   wpm    Ab